/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	height: 100%;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
	max-width:   100%;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
* 2.0 - Basic Typography
* ----------------------------------------------------------------------------
*/
body {
	max-width: 100%;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	line-height: 30px;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.4em;
	margin-bottom: 0.400em;
}

p {
	line-height: 2.143em;
	position: relative;
	margin-bottom: 30px;
}

p:empty {
	display: none;
}


/*	Links  */

a {
	text-decoration: none;
	outline: 0;
}

a:hover,
a:focus,
a:visited {
	text-decoration: none;
}

/* More Link*/

.more-link {
	display: block;
	margin-top: 10px;
}

/*	List  */

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul,
ol {
	margin-bottom: 28px;
	margin-left:20px;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left:20px;
}

/*	Blockquote  */

blockquote {}

blockquote.left {}

blockquote.right {}

/* Other elements */

cite,
em,
var,
address,
dfn {
	font-style: italic;
}

address {
	margin-bottom: 30px;
}

dl {
	margin-bottom: 30px;
}
dt {
	font-family: inherit;
}

dd {
	padding-left: 15px;
}

.sticky {}
.bypostauthor {}

code,
kbd,
tt,
var,
samp,
pre {
	font: 12px "Courier New", Courier, monospace;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: 1.6;
}

pre {
	display: block;
	clear: both;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	overflow-x: auto;
	height: auto;
	margin: 30px 0;
	color: #B5C1CE;
	background-color: #EDF0F3;
	background-color: rgba(225,227,229,0.5);
}

sup{
	vertical-align: super;
	font-size: smaller;
}

sub{
	vertical-align: sub;
	font-size: smaller;
}

strong {
	font-weight: bold;
}

cite,
code {
	letter-spacing: 0.300em;
}

/**
 * 3.0 - Aligns
 * ----------------------------------------------------------------------------
 */

.grve-align-left {
	text-align: left;
}

.grve-align-right {
	text-align: right;
}

.grve-align-center {
	text-align: center;
}

.alignleft,
img.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright,
img.alignright {
	float: right;
	margin-left: 10px;
}

.aligncenter,
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

/**
* Inputs
* ----------------------------------------------------------------------------
*/
.input-text,
input[type="text"],
input[type="input"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="tel"],
input[type="search"],
textarea,
select {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
textarea:focus {
	outline: none;
}

fieldset {

}

legend {
	white-space: normal;
}


/**
* Buttons
* ----------------------------------------------------------------------------
*/
input[type=submit] {
	-webkit-appearance: none;
}


input[type="submit"],
.grve-btn {
	display: inline-block;
	border: none;
	cursor: pointer;
}

 /**
 * 10.0 - Tables
 * ----------------------------------------------------------------------------
 */
table {
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid;
	border-collapse: collapse;
	cursor: default;
}

tr {
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	border-bottom: 1px solid;
}

td,
th {
	padding: 10px 20px 10px 20px;
	line-height: 1.5;
	border-right: 1px solid;
	text-align: center;
}

th:last-child {
	border: none;
}

/* Responsive images. Fluid images for posts, comments, and widgets */
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}


.comment-content img,
.entry-content img,
.entry-summary img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */

.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.wp-post-image,
.post-thumbnail img {
	height: auto;
	max-width: 100%;
}

/* Embeds and iframes */

embed,
iframe,
object,
video {
	max-width: 100%;
	display: block;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

/* Image Captions*/

.wp-caption {
	margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption-text {
	display: block;
	font-size: 0.8em;
	margin: 0 auto;
	padding: 3px 0 5px 0;
	text-align: left;
	line-height: 1.5;
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}

/* Gallery */
.gallery {
	margin: 0 -15px !important;
}
.gallery dl {
	margin-top: 0 !important;
}

.gallery dt {}

.gallery dd {}

.gallery dl a {}

.gallery dl img {
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	padding: 0 15px;
	border: none !important;
}

.gallery-caption {
	padding-left: 15px;
	padding-right: 15px;
}

.grve-hidden {
	display: none;
}

/*****************************************************************************************/

table.customer_details, table.order_details{
	border-collapse: collapse !important;
}

table.customer_details tr, table.order_details tr{
	border-bottom: medium none;
}

table.customer_details tr th{
	border: 1px solid;
	text-transform: uppercase !important;
	text-align: right;
	vertical-align: middle;
	width: 40%;
}

table.customer_details.tab_first tr th{
	background-color: #f8f8f8;
	font-weight: bold;
}

table.customer_details.tab_second tr th{
	background-color: #e7f3ff;
	font-weight: bold;
}

table.order_details thead tr th.product-total,
table.order_details thead tr th.product-name{
	color: #454545 !important;
}

table.customer_details tr td,
table.order_details tr .product-total,
table.order_details tr td{
	color: #828282 !important;
}

table.order_details tr th.product-name{
	width: 40%;
}

table.order_details tbody td.product-name{
	vertical-align: middle;
}
table.order_details tbody td.product-name .product-quantity{
	color: red;
}

table.order_details tbody td.product-name span.bluee{
	color: #2493ff;
}

table.order_details tbody td.product-name p.shipping_method,
table.order_details tbody td.product-name p.shipping_method span{
	margin: 0;
	color: #828282 !important;
}

table.order_details tfoot td.order_total,
table.order_details tfoot td.order_total span.amount,
table.order_details tfoot td.order_total strong span.amount{
	color: #3276bd;
	font-weight: 700;
}

table.order_details tfoot th{
	text-transform: uppercase !important;
	vertical-align: middle !important;;
}

.checkout #customer_details .col-2{
    margin-top: 68px;
}

.checkout #customer_details .col-2 textarea{
    height:135px;
}
.checkout .order_wrapper{
    display: none;
}
form.wpuf-form-add .wpuf-form .wpuf-submit input[type=submit],
#address_form .form-row input[type=submit].button,
.checkout input[type=submit].button{
    background-color: #7E370B !important;
        padding: 10px 20px;
}

#address_form #addresses .address_block{
	border-bottom: 1px solid #7E370B;
}
#address_form #addresses .address_block a.delete{
	color: #2493ff;
}

#address_form .form-row a.add_address:hover,
#address_form .form-row a.add_address{
	text-transform: uppercase;
	margin-left: 15px;
	font-weight: 700;
	color: #424242;
	font-size: 12px;
	letter-spacing: 0.200em;
}
#address_form .form-row .input-text {
	width: 95%;
}
form.wpuf-form-add .wpuf-form .default_address{
	float: left;
	width:75%;
	padding: 0;
}
form.wpuf-form-add .wpuf-form .default_address>.wpuf-label{
	display: none;
}

form.wpuf-form-add .wpuf-form .default_address .wpuf-address-field {
	float: left;
	width: 33.3333% !important;
}
form.wpuf-form-add .wpuf-form .wpuf-el.telephone .wpuf-label,
form.wpuf-form-add .wpuf-form .wpuf-el.telephone .wpuf-fields,
form.wpuf-form-add .wpuf-form .default_address .wpuf-address-field .wpuf-label,
form.wpuf-form-add .wpuf-form .default_address .wpuf-address-field .wpuf-fields,
form.wpuf-form-add .wpuf-form .new-col .wpuf-label,
form.wpuf-form-add .wpuf-form .new-col .wpuf-fields{
	width: 95%;
}
form.wpuf-form-add .wpuf-form .default_address .wpuf-address-field,
form.wpuf-form-add .wpuf-form .new-col {
	padding: 10px;
}

.woocommerce .btn-wrapper{
	margin-bottom: 50px;
}
.btn-wrapper .blue_btn{
	background: #71BAFF;
	padding: 10px 20px;
	margin-right: 20px
}
.btn-wrapper .darck_blue_btn{
	background: #3278BD;
	padding: 10px 20px;
}
.wpuf-success{
	border: 1px solid #158C18;
	background: #ACF5AE;
	width: 80%;
    margin: 0 auto;
    color:#6C6869;
}
.wpuf_custom_html_5072> p{
	margin-bottom: 0;
}
/*******/
#grve-theme-wrapper select{
	font-size: 12px;
}
.cart_btn_update .button.button.button,
.wc-proceed-to-checkout .checkout-button.button{
	background:#7e370b;
}
.cart_btn_update .button.button.button:hover,
.wc-proceed-to-checkout .checkout-button.button:hover{
	opacity: 0.7;
	background:#7e370b;
}
.total_wrapper .total table{
	border: none;
}
.total_wrapper .total table *{
	display: block; 
	float: right;
	background-color: #E4E4E4;
}
.total_wrapper .total table{ 
	
}
.total_wrapper .total tbody {
	width: 50%;
	height: 60px;
}
.total_wrapper .total  tr{
	width: 100%;
	height: 100%;
}
.total_wrapper .total  td{
	float: left;
	height: 100%; 
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
}
.total_wrapper .total  tr td:last-child{
	float: right;
	margin-right: 20px;
	color: #2A77BB;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table{
	border-collapse: collapse;
}
.woocommerce table.cart .product-thumbnail{
	width: 130px;
}
.cart_item .product-name a{
	color: #2d76ba;
}
.cart_item .product-name a:hover{
	color: #ccc;
}
.thankyou_order_message_wrapper{
	background: #71BAFF;
	color: #fff;
	padding: 10px;
	position: relative;
	text-align:center;
}
.thankyou_order_message_wrapper:after,
.thankyou_order_message_wrapper:before{
	content: "";
	display: block;
	width: 1000px;
	height: 100%;
	position: absolute;
	top: 0;
	background: #71BAFF;
	left: -1000px;
}
.thankyou_order_message_wrapper:after{
	right: -1000px;
	left: auto;
}
.thankyou_order_message_wrapper.error:after,
.thankyou_order_message_wrapper.error:before,
.thankyou_order_message_wrapper.error{
    background-color: #FF0E0D;
    font-weight: 600;
    text-align: center !important;
}
.checkout #customer_details.col2-set .col-2{
	margin-top: 12px;
}
.checkout_step #customer_details.col2-set .col-2 p{
	margin-bottom: 3px;
}
.checkout_step select{
	font-size: 14px;
}
.checkout_step .btn_address_edit{
	text-transform: uppercase;
    font-size: 11px;
    color: #7E370B;
    font-weight: 600;
}
.checkout_step .btn_address_edit:hover{
	color: #424242;
}
.order_notes_box,#order_notes_box{
	margin-top: 25px;	
    white-space: normal;
    letter-spacing: normal;
    word-wrap: break-word;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td{
	padding: 15px;
}
.checkout #customer_details.col2-set .col-2.new-checkout-shipping-notes{
	margin-top: 36px;
}
.wrapp-radio-type .radio,
.wrapp-radio-type .input-radio {
	float: left;
}
#grve-theme-wrapper .wrapp-radio-type .input-radio{
	margin-top: 3px;
}
.wrapp-radio-type #type_Company{
	margin-left: 30px
}
.wrapp-checkbox-add-address{
	margin-top: -29px;
}
.woocommerce .shipping #shipping_method li{
	float: none;
	display: inline-block;
	padding-right: 10px;
}

.woocommerce .woocommerce-checkout .place-order .terms{
    margin-bottom: 0;
    padding: 0 !important;
}

.woocommerce .woocommerce-checkout .place-order .terms .checkbox a{
    color: #3276bd;
    text-decoration: underline;
}

#payment_page_declined{
    
    text-align: center;
    padding-bottom: 130px;
}

#payment_page_declined p {
    text-align: left;
}

#payment_page_declined button{
    padding:10px 20px;
}

#payment_page_declined h1 {
               font-size: 20px;
               text-align: left;
               margin-bottom: 0px;
               font-weight: 600;
               line-height: 1;
               color: #333!important;
}
#payment_page_declined .title {
               font-size: 16px;
               font-weight: 600;
               line-height: 1.4;
}