/**
 * Grid Settings
 * ----------------------------------------------------------------------------
 */

.grve-container {
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.grve-container:before,
.grve-container:after {
	display: table;
	content: " ";
}

.grve-container:after {
	clear: both;
}

.grve-row {
	margin-right: -15px;
	margin-left: -15px;
}

.grve-row:before,
.grve-row:after
{
	display: table;
	content: " ";
}
.grve-row:after {
	clear: both;
}

.grve-element  {
	position:relative;
	margin:0px 0px 30px 0px;
	z-index: 3;
}

.grve-element p:last-child {
	margin-bottom: 0px;
}

.grve-row .grve-element:last-child {
	margin-bottom: 0px;
}


.grve-section {
	padding-top: 65px;
	padding-bottom: 65px;
	position: relative;
}

.grve-container .grve-section {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 30px;
}

.grve-feature-header {
	margin-top: -70px !important;
}

.grve-feature-footer {
	margin-bottom: -40px !important;
}

.grve-column-1-12,
.grve-column-5-12,
.grve-column-7-12,
.grve-column-11-12,
.grve-column-1-6,
.grve-column-1-5,
.grve-column-1-4,
.grve-column-1-2,
.grve-column-1-3,
.grve-column-2-3,
.grve-column-3-4,
.grve-column-4-5,
.grve-column-5-6,
.grve-column-1
{
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	z-index: 3;
}

.grve-column-1-12 {
	width: 8.33333333%;
}

.grve-column-5-12 {
	width: 41.66666667%;
}

.grve-column-7-12 {
	width: 58.33333333%;
}

.grve-column-11-12 {
	width: 91.66666667%;
}

.grve-column-1-6 {
	width: 16.66666667%;
}

.grve-column-1-5 {
	width: 20%;
}

.grve-column-1-4 {
	width: 25%;
}

.grve-column-1-3 {
	width: 33.33333333%;
}

.grve-column-1-2 {
	width: 50.0%;
}

.grve-column-2-3 {
	width: 66.66666667%;
}

.grve-column-3-4 {
	width: 75.0%;
}

.grve-column-4-5 {
	width: 80.0%;
}

.grve-column-5-6 {
	width: 83.33333333%;
}

.grve-column-1 {
	width: 100.0%;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



.grve-section[data-section-type="fullwidth-element"] .grve-row {
	margin-right: 0;
	margin-left: 0;
}

.grve-section[data-section-type="fullwidth-element"] .grve-column-1-12,
.grve-section[data-section-type="fullwidth-element"] .grve-column-5-12,
.grve-section[data-section-type="fullwidth-element"] .grve-column-7-12,
.grve-section[data-section-type="fullwidth-element"] .grve-column-11-12,
.grve-section[data-section-type="fullwidth-element"] .grve-column-1-6,
.grve-section[data-section-type="fullwidth-element"] .grve-column-1-5,
.grve-section[data-section-type="fullwidth-element"] .grve-column-1-4,
.grve-section[data-section-type="fullwidth-element"] .grve-column-1-2,
.grve-section[data-section-type="fullwidth-element"] .grve-column-1-3,
.grve-section[data-section-type="fullwidth-element"] .grve-column-2-3,
.grve-section[data-section-type="fullwidth-element"] .grve-column-3-4,
.grve-section[data-section-type="fullwidth-element"] .grve-column-4-5,
.grve-section[data-section-type="fullwidth-element"] .grve-column-5-6,
.grve-section[data-section-type="fullwidth-element"] .grve-column-1
{
	padding-right: 0;
	padding-left: 0;
}

/* #Media Queries
================================================== */

/* Desktops and laptops ----------- */
@media screen and (min-width: 1201px) {
	.grve-desktop-column-hide,
	.grve-desktop-row-hide {
		display: none;
	}
}

/* Tablet (landscape) ----------- */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.grve-tablet-column-hide,
	.grve-tablet-row-hide {
		display: none;
	}
}

@media only screen and (max-width: 1200px) {

	.grve-container {
		width: 900px;
	}

	/* Tablet Columns */

	.grve-tablet-column-1-12 {
		width: 8.33333333%;
	}

	.grve-tablet-column-5-12 {
		width: 41.66666667%;
	}

	.grve-tablet-column-7-12 {
		width: 58.33333333%;
	}

	.grve-tablet-column-11-12 {
		width: 91.66666667%;
	}

	.grve-tablet-column-1-6 {
		width: 16.66666667%;
	}

	.grve-tablet-column-1-5 {
		width: 20%;
	}

	.grve-tablet-column-1-4 {
		width: 25%;
	}

	.grve-tablet-column-1-3 {
		width: 33.33333333%;
	}

	.grve-tablet-column-1-2 {
		width: 50.0%;
	}

	.grve-tablet-column-2-3{
		width: 66.66666667%;
	}

	.grve-tablet-column-3-4 {
		width: 75.0%;
	}

	.grve-tablet-column-4-5 {
		width: 80.0%;
	}

	.grve-tablet-column-5-6 {
		width: 83.33333333%;
	}

	 .grve-tablet-column-1 {
		width: 100.0%;
	}

	.grve-tablet-column-1-2:nth-child(2n+1) {
		clear: both;
	}

	.grve-tablet-column-1-12 .grve-element:last-child,
	.grve-tablet-column-5-12 .grve-element:last-child,
	.grve-tablet-column-7-12 .grve-element:last-child,
	.grve-tablet-column-11-12 .grve-element:last-child,
	.grve-tablet-column-1-6 .grve-element:last-child,
	.grve-tablet-column-1-5 .grve-element:last-child,
	.grve-tablet-column-1-4 .grve-element:last-child,
	.grve-tablet-column-1-2 .grve-element:last-child,
	.grve-tablet-column-1-3 .grve-element:last-child,
	.grve-tablet-column-2-3 .grve-element:last-child,
	.grve-tablet-column-3-4 .grve-element:last-child,
	.grve-tablet-column-4-5 .grve-element:last-child,
	.grve-tablet-column-5-6 .grve-element:last-child,
	.grve-tablet-column-1 .grve-element:last-child {
		margin-bottom: 30px;
	}

	.grve-tablet-column-1-12:last-child .grve-element:last-child,
	.grve-tablet-column-5-12:last-child .grve-element:last-child,
	.grve-tablet-column-7-12:last-child .grve-element:last-child,
	.grve-tablet-column-11-12:last-child .grve-element:last-child,
	.grve-tablet-column-1-6:last-child .grve-element:last-child,
	.grve-tablet-column-1-5:last-child .grve-element:last-child,
	.grve-tablet-column-1-4:last-child .grve-element:last-child,
	.grve-tablet-column-1-2:last-child .grve-element:last-child,
	.grve-tablet-column-1-3:last-child .grve-element:last-child,
	.grve-tablet-column-2-3:last-child .grve-element:last-child,
	.grve-tablet-column-3-4:last-child .grve-element:last-child,
	.grve-tablet-column-4-5:last-child .grve-element:last-child,
	.grve-tablet-column-5-6:last-child .grve-element:last-child,
	.grve-tablet-column-1:last-child .grve-element:last-child {
		margin-bottom: 0px;
	}

}

/* Tablet (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.grve-tablet-sm-column-hide,
	.grve-tablet-sm-row-hide {
		display: none;
	}
}

@media only screen and (max-width: 959px) {

	.grve-container {
		width: 720px;
	}

	/* Tablet Columns */

	.grve-tablet-sm-column-1-12 {
		width: 8.33333333%;
	}

	.grve-tablet-sm-column-5-12 {
		width: 41.66666667%;
	}

	.grve-tablet-sm-column-7-12 {
		width: 58.33333333%;
	}

	.grve-tablet-sm-column-11-12 {
		width: 91.66666667%;
	}

	.grve-tablet-sm-column-1-6 {
		width: 16.66666667%;
	}

	.grve-tablet-sm-column-1-5 {
		width: 20%;
	}

	.grve-tablet-sm-column-1-4 {
		width: 25%;
	}

	.grve-tablet-sm-column-1-3 {
		width: 33.33333333%;
	}

	.grve-tablet-sm-column-1-2 {
		width: 50.0%;
	}

	.grve-tablet-sm-column-2-3{
		width: 66.66666667%;
	}

	.grve-tablet-sm-column-3-4 {
		width: 75.0%;
	}

	.grve-tablet-sm-column-4-5 {
		width: 80.0%;
	}

	.grve-tablet-sm-column-5-6 {
		width: 83.33333333%;
	}

	 .grve-tablet-sm-column-1 {
		width: 100.0%;
	}

	.grve-tablet-sm-column-1-2:nth-child(2n+1) {
		clear: both;
	}

	.grve-tablet-sm-column-1-12 .grve-element:last-child,
	.grve-tablet-sm-column-5-12 .grve-element:last-child,
	.grve-tablet-sm-column-7-12 .grve-element:last-child,
	.grve-tablet-sm-column-11-12 .grve-element:last-child,
	.grve-tablet-sm-column-1-6 .grve-element:last-child,
	.grve-tablet-sm-column-1-5 .grve-element:last-child,
	.grve-tablet-sm-column-1-4 .grve-element:last-child,
	.grve-tablet-sm-column-1-2 .grve-element:last-child,
	.grve-tablet-sm-column-1-3 .grve-element:last-child,
	.grve-tablet-sm-column-2-3 .grve-element:last-child,
	.grve-tablet-sm-column-3-4 .grve-element:last-child,
	.grve-tablet-sm-column-4-5 .grve-element:last-child,
	.grve-tablet-sm-column-5-6 .grve-element:last-child,
	.grve-tablet-sm-column-1 .grve-element:last-child {
		margin-bottom: 30px;
	}

	.grve-tablet-sm-column-1-12:last-child .grve-element:last-child,
	.grve-tablet-sm-column-5-12:last-child .grve-element:last-child,
	.grve-tablet-sm-column-7-12:last-child .grve-element:last-child,
	.grve-tablet-sm-column-11-12:last-child .grve-element:last-child,
	.grve-tablet-sm-column-1-6:last-child .grve-element:last-child,
	.grve-tablet-sm-column-1-5:last-child .grve-element:last-child,
	.grve-tablet-sm-column-1-4:last-child .grve-element:last-child,
	.grve-tablet-sm-column-1-2:last-child .grve-element:last-child,
	.grve-tablet-sm-column-1-3:last-child .grve-element:last-child,
	.grve-tablet-sm-column-2-3:last-child .grve-element:last-child,
	.grve-tablet-sm-column-3-4:last-child .grve-element:last-child,
	.grve-tablet-sm-column-4-5:last-child .grve-element:last-child,
	.grve-tablet-sm-column-5-6:last-child .grve-element:last-child,
	.grve-tablet-sm-column-1:last-child .grve-element:last-child {
		margin-bottom: 0px;
	}

}


/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 767px) {

	.grve-container {
		width: 95%;
	}

	.grve-mobile-column-hide,
	.grve-mobile-row-hide {
		display: none;
	}

	.grve-row > div .grve-element:last-child {
		margin-bottom: 30px;
	}

	.grve-row > div:last-child .grve-element:last-child {
		margin-bottom: 0px;
	}
	.grve-row .grve-row > div .grve-element:last-child {
		margin-bottom: 30px;
	}

	.grve-column-1-12,
	.grve-column-5-12,
	.grve-column-7-12,
	.grve-column-11-12,
	.grve-column-1-6,
	.grve-column-1-5,
	.grve-column-1-4,
	.grve-column-1-2,
	.grve-column-1-3,
	.grve-column-2-3,
	.grve-column-3-4,
	.grve-column-4-5,
	.grve-column-5-6,
	.grve-column-1 {
		width: 100%;
	}

	#grve-main-content .grve-column-1-12,
	#grve-main-content .grve-column-5-12,
	#grve-main-content .grve-column-7-12,
	#grve-main-content .grve-column-11-12,
	#grve-main-content .grve-column-1-6,
	#grve-main-content .grve-column-1-5,
	#grve-main-content .grve-column-1-4,
	#grve-main-content .grve-column-1-2,
	#grve-main-content .grve-column-1-3,
	#grve-main-content .grve-column-2-3,
	#grve-main-content .grve-column-3-4,
	#grve-main-content .grve-column-4-5,
	#grve-main-content .grve-column-5-6,
	#grve-main-content .grve-column-1 {
		border: none !important;
	}

}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 479px) {

	.grve-container {
		width: 95%;
	}
	.grve-column-1-12,
	.grve-column-5-12,
	.grve-column-7-12,
	.grve-column-11-12,
	.grve-column-1-6,
	.grve-column-1-5,
	.grve-column-1-4,
	.grve-column-1-2,
	.grve-column-1-3,
	.grve-column-2-3,
	.grve-column-3-4,
	.grve-column-4-5,
	.grve-column-5-6,
	.grve-column-1 {
		width: 100%;
	}


}
