.clear{clear:both}

.nobr{white-space:nowrap}

.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-1,
.woocommerce-page .col2-set .col-2{
	float: none;
	width: 100%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce .grve-right-sidebar ul.products li.product,
.woocommerce-page .grve-right-sidebar ul.products li.product,
.woocommerce .grve-left-sidebar ul.products li.product,
.woocommerce-page .grve-left-sidebar ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
	width: 50%;
	float: left;
	clear: none;
}

.woocommerce .grve-right-sidebar .related ul li.product,
.woocommerce .grve-right-sidebar .related ul.products li.product,
.woocommerce .grve-right-sidebar .upsells.products ul li.product,
.woocommerce .grve-right-sidebar .upsells.products ul.products li.product,
.woocommerce-page .grve-right-sidebar .related ul li.product,
.woocommerce-page .grve-right-sidebar .related ul.products li.product,
.woocommerce-page .grve-right-sidebar .upsells.products ul li.product,
.woocommerce-page .grve-right-sidebar .upsells.products ul.products li.product,
.woocommerce .grve-left-sidebar .related ul li.product,
.woocommerce .grve-left-sidebar .related ul.products li.product,
.woocommerce .grve-left-sidebar .upsells.products ul li.product,
.woocommerce .grve-left-sidebar .upsells.products ul.products li.product,
.woocommerce-page .grve-left-sidebar .related ul li.product,
.woocommerce-page .grve-left-sidebar .related ul.products li.product,
.woocommerce-page .grve-left-sidebar .upsells.products ul li.product,
.woocommerce-page .grve-left-sidebar .upsells.products ul.products li.product {
	width: 33.33333333333333%;
}

.woocommerce ul.products li.product:nth-child(2n),
.woocommerce-page ul.products li.product:nth-child(2n){
	float: right;
	clear: none!important;
}

.woocommerce #content div.product div.images,
.woocommerce #content div.product div.summary,
.woocommerce div.product div.images,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.images,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.images,
.woocommerce-page div.product div.summary{
	float: none;
	width: 100%;
}

.woocommerce #content table.cart .product-thumbnail,
.woocommerce table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail{
	display: none;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions{
	text-align: left;
}

.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon{
	float: none;
	*zoom: 1;
	padding-bottom: 0;
}

.woocommerce #content table.cart td.actions .coupon:after,
.woocommerce #content table.cart td.actions .coupon:before,
.woocommerce table.cart td.actions .coupon:after,
.woocommerce table.cart td.actions .coupon:before,
.woocommerce-page #content table.cart td.actions .coupon:after,
.woocommerce-page #content table.cart td.actions .coupon:before,
.woocommerce-page table.cart td.actions .coupon:after,
.woocommerce-page table.cart td.actions .coupon:before{
	content: " ";
	display: table;
}

.woocommerce #content table.cart td.actions .coupon:after,
.woocommerce table.cart td.actions .coupon:after,
.woocommerce-page #content table.cart td.actions .coupon:after,
.woocommerce-page table.cart td.actions .coupon:after{
	clear: both;
}

.woocommerce #content table.cart td.actions .button,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions input,
.woocommerce table.cart td.actions .button,
.woocommerce table.cart td.actions .input-text,
.woocommerce table.cart td.actions input,
.woocommerce-page #content table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions input,
.woocommerce-page table.cart td.actions .button,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions input{
	width: 48%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.woocommerce #content table.cart td.actions .button.alt,
.woocommerce #content table.cart td.actions .input-text+.button,
.woocommerce table.cart td.actions .button.alt,
.woocommerce table.cart td.actions .input-text+.button,
.woocommerce-page #content table.cart td.actions .button.alt,
.woocommerce-page #content table.cart td.actions .input-text+.button,
.woocommerce-page table.cart td.actions .button.alt,
.woocommerce-page table.cart td.actions .input-text+.button{
	float: right;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .shipping_calculator{
	width: 100%;
	float: none;
	text-align: left;
}

.woocommerce-page.woocommerce-checkout form.login .form-row,
.woocommerce.woocommerce-checkout form.login .form-row{
	width: 100%;
	float: none;
}
.woocommerce #payment .terms,
.woocommerce-page #payment .terms{
	text-align: left;
	padding: 0;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order{
	float: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}

.woocommerce .lost_reset_password .form-row-first,
.woocommerce .lost_reset_password .form-row-last,
.woocommerce-page .lost_reset_password .form-row-first,
.woocommerce-page .lost_reset_password .form-row-last{
	width: 100%;
	float: none;
	margin-right: 0;
}

.single-product .twentythirteen .panel{
	padding-left: 20px!important;
	padding-right: 20px!important;
}

.woocommerce-page.columns-2 ul.products li.product,
.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product,
.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-4 ul.products li.product,
.woocommerce.columns-4 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product,
.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-6 ul.products li.product,
.woocommerce.columns-6 ul.products li.product {
	width: 100%;
}

.woocommerce .product-subtotal {
	display: none;
}

.woocommerce-cart #grve-main-content .grve-container {
	width: 95%;
}

.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 100%;
	margin: 0 0 30px 0 !important;
}

.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
	width: 100%;
}

.woocommerce #content table.cart td.actions .button,
.woocommerce table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .button,
.woocommerce a.button, .woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
#grve-shop-modal a.button {
	width: 100%;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
	padding: 10px !important;
}

.woocommerce-cart .quantity .plus,
.woocommerce-cart .quantity .minus,
.woocommerce-cart #content .quantity .plus,
.woocommerce-cart #content .quantity .minus {
	display: none !important;
}

.woocommerce-cart .quantity input.qty,
.woocommerce-cart #content .quantity input.qty {
	border: none !important;
}

.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th {
	width: 50% !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	float: none !important;
	margin-right: 0 !important;
	display: block !important;
	text-align: center;
}