.admin-color-fresh #redux-header {
	background: #4B494D url(../images/grve-logo.png) no-repeat 23px center;
}
.admin-color-light #redux-header {
    background: #888 url(../images/grve-logo.png) no-repeat 23px center;
}
.admin-color-blue #redux-header {
    background: #096484 url(../images/grve-logo.png) no-repeat 23px center;
}
.admin-color-coffee #redux-header {
    background: #46403c url(../images/grve-logo.png) no-repeat 23px center;
}
.admin-color-ectoplasm #redux-header {
    background: #413256 url(../images/grve-logo.png) no-repeat 23px center;
}
.admin-color-midnight #redux-header {
    background: #363b3f url(../images/grve-logo.png) no-repeat 23px center;
}
.admin-color-ocean #redux-header {
    background: #627c83 url(../images/grve-logo.png) no-repeat 23px center;
}
.admin-color-sunrise #redux-header {
    background: #b43c38 url(../images/grve-logo.png) no-repeat 23px center;
}

.redux-container #redux-header {
	padding: 16px 10px;
}

.redux-container #redux-header .display_header {
	float:right;
}

.redux-container #redux-header .rAds {
	display: none !important;
}

.redux-info-field.grve-redux-info,
.redux-notice-field.grve-redux-info {
	padding: 8px 19px;
	background-color: #23beb6;
	margin-bottom: 20px;
	border-radius: 0;
	border: none;
	color: #FFF;
}

.redux-main #redux-sticky {
    margin: -10px -21px 8px;
}

.redux-group-tab .form-table.no-border {
	margin-bottom: 2em;
}

.redux-main .form-table tr {
	border: none !important;
}

.redux_field_th {
	font-weight: 700;
	padding: 45px 25px 45px 0;
	display: block;
}

.redux-main .form-table>tbody>tr>th {
	width: 25%;
}

.redux-info-field.grve-redux-info p,
.redux-notice-field.grve-redux-info p,
.redux_field_th span {
	font-size: 12px;
}

.redux-info-field.grve-redux-info .redux-info-desc b,
.redux-notice-field.grve-redux-info .redux-info-desc b {
	font-size: 1.3em;
	font-weight: 300;
}

.redux-info-field.grve-redux-sub-info,
.redux-notice-field.grve-redux-sub-info {
    padding: 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #e76f4d;
	border-radius: 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.redux-info-field.grve-redux-sub-info b,
.redux-notice-field.grve-redux-sub-info b {
	color: #222;
	font-size: 1.5em;
	font-weight: 300;
	padding-bottom: 10px;
	display: inline-block;
}
.grve-redux-section.redux-group-tab-link-li{
	background-color: #ecef4a;
}

/* Redux Active Icon */

.redux-group-tab-link-li.active i {
	color: #ffffff;
}

.redux-sidebar .redux-group-menu li.active a:hover {
	color: #ffffff;
}

.redux-container .redux-group-tab .redux-section-desc {
	margin-bottom: 15px;
	color: #B8B8B8;
	font-style: italic;
}


.redux-container #redux-intro-text {
	display: none;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active a {
	color:#ffffff;
}

.redux-sidebar .redux-group-menu li a {
	display: block;
	padding: 30px 4px 30px 20px;
	background: #373538 !important;
	background: 0 0;
	border-width: 1px 0;
	border-style: solid;
	border-bottom-color: #464447;
	border-top-color: #F9F9F9;
	opacity: 1;
	color: #ffffff;
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: none;
	transition: none;
}

.redux-sidebar .redux-group-tab-link-a i {
	vertical-align: middle;
	font-size: 0.9em;
	top: 33px;
	position: absolute;
}


.redux-sidebar .redux-group-menu li.active a,
.redux-sidebar .redux-group-menu li.active a:hover,
.redux-sidebar .redux-group-menu li.activeChild a,
.redux-sidebar .redux-group-menu li.activeChild a:hover,
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a {
	background: #0B0B0B !important;
	border-bottom-color: #0B0B0B;
	color: #ffffff;
	width: 220px;
	opacity: 1;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover,
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover{
	color:#000000;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a {
	color: #ffffff;
}

.redux-sidebar .redux-group-menu li a:hover {
	color: #e76f4d;
	background-color: #2f2d30 !important;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a,
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li.hasIcon a,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.hasIcon a {
	width: auto;
	border-top: 0!important;
	padding: 7px;
	color: #ffffff;
	padding-left: 15px;
	background-color: #E86F50 !important;
	-webkit-transition: all .2;
	-moz-transition: all .2;
	-ms-transition: all .2;
	-o-transition: all .2;
	transition: all .2;
}

.admin-color-fresh #redux-header {
	border: none;
}

.redux-container #info_bar,
.redux-container #redux-footer,
.redux-container .sticky-footer-fixed {
	background-color: #2f2d30 !important;
	border: none !important;
	box-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.redux-container {
	background-color: #2F2D30 !important;
	background-image: none;
	border: 1px solid #DEDEDE;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.4);
	margin-top: 5px;
	overflow: hidden;
}

.redux-sidebar .redux-group-menu li.divide {
	display: none;
}

.redux-main {
	background: #FCFCFC;
	margin-left: 244px;
	border-left: 1px solid #D8D8D8;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	box-shadow: inset 0 1px 0 #FFF;
}

.redux-sidebar {
	width: 244px;
	float: left;
}

.redux-container .redux-group-tab h3 {
	font-weight: 300;
	font-size: 25px;
	margin-top: 0;
	line-height: 2.3em;
	padding-bottom: 10px;
	border-bottom: 1px solid #E7E7E7;
}

.redux-action_bar .button {
	display: inline-block;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 30px;
	height: 32px;
	margin: 0;
	padding: 0 20px 1px;
	cursor: pointer;
	border-width: 0px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	background: #4B494D;
	border: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	color: #9B999C;
}

.redux-action_bar .button-primary {
	background: #e86f50;
	border: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	color: #ffffff;
	text-decoration: none;
}

.redux-action_bar .button-primary:hover {
	background: #FAFAFA;
	color: #222;
}

@media screen and (max-width: 1124px){

	.redux-sidebar .redux-group-menu li.active a,
	.redux-sidebar .redux-group-menu li.active a:hover,
	.redux-sidebar .redux-group-menu li.activeChild a,
	.redux-sidebar .redux-group-menu li.activeChild a:hover,
	.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a {
		width: 44px;
	}
	.redux-main {
		margin-left: 54px;
	}
	.redux-sidebar {
		width: 54px;
	}
	.redux-sidebar .redux-group-tab-link-a span {
		background: none repeat scroll 0 0 #464447;
		color: #ffffff;
		border: none;
		left: 54px;
	}

	.redux-sidebar .subsection .redux-group-tab-link-a {
		height: 32px;
	}
	.redux-sidebar .subsection .redux-group-tab-link-a i {
		top: 20px;
		left: 20px;
	}

	.redux-sidebar .subsection .redux-group-tab-link-a span {
		background: none repeat scroll 0 0 #e86f50;
	}

}